body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
}

.home-page {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.data-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.model-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-page {
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
  gap: 20px;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 40px;
  padding-left: 50px;
}



.header-button {
  cursor: pointer;
  font-size: 1.2em;
}

.header-username {
  cursor: pointer;
  text-decoration: underline;
  color:aqua;
  padding-right: 15px;
  font-size: 1.1em;
}

.login-page-inputs {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.graph-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.color-key {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px;
  gap: 10px;
  padding-bottom: 20px;
}

.key-object {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0px;
  padding: 0px;
}

.key-object p {
  padding: 0px;
  margin: 0px;
}

.color-box {
  width: 10px;
  height: 10px;
  border: 2px solid black;
}

.product-line-predictions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 5px;
  padding-right: 5px;
  gap: 10px;
}

.sales-graph-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  gap: 10px;
}

.sales-graph-group-item {
  height: 200px;
  width: 200px;
}

.sales-graph {
  width: 90vw;
  height: 45vw;
  max-height: 350px;
  min-height: 200px;
}

.predict-up {
  color: green;
}

.predict-down {
  color: red;
}

.predict-same {
  color: darkgray;
}

.query-specifications {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.query-specification {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 10%;
  gap: 10px;
}

.query-specification-clear {
  cursor: pointer;
}

.specifications-group {
  width: 250px; 
}

.sales-query-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 65px;
  gap: 10px;
}

.sales-select-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 55px;
  align-items: space-around;
}

.sales-date-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  min-height: 55px;
}

.sales-date-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.graph-carousel {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graph-carousel-inner {
  white-space: nowrap;
  width: 90vw;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.graph-display-page-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 4vw;
  padding-bottom: 20px;
}

.graph-display-page-button {
  position: relative;
  cursor: pointer;
}

.graph-display-page-button-background {
  position: absolute;
  background-color: rgb(235, 229, 229);
  height: 10px;
  width: 10px;
  left: 2px;
  top: 7px;
  border-radius: 100%;
}

.selected-button {
  box-shadow:0 0 10px gold,0 0 30px gold;
}

.logs-page-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  max-width: 250px;
  margin: auto;
}

.data-page-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  max-width: 250px;
  margin: auto;
}

.logs-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-arrow {
  cursor: pointer;
}

.page-input {
  width: 70px;
}

.data-query-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 25px;
  width: 90vw;
  max-width: 500px;
}

.add-specification-button {
  cursor: pointer;
  display: inline-flex;
}

.data-query-constraint-value {
  width: 100px;
}

.query-table-container {
  display: flex;
  flex-direction: column;
  max-width: 90vw;
  overflow-x: scroll;
  gap: 10px;
  padding-bottom: 20px;
}

.query-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 25px;
}

.query-table-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.query-edit-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.data-query-input-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}

.data-query-input-specification {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.data-query-input-specification-inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.model-page-action {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.loading-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 9;
  bottom: 5vh;
  transform: translateY(200%)
}

.total-messages {
  width: 15px;
  height: 15px;
  margin-left: auto;
  color: white;
  background-color: #66023C;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.current-message {
  display: flex;
  flex-direction: row;
  height: 25px;
  background-color:rgb(244, 247, 251);
  margin-left: 1;
  margin-right: 1;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 15px;
}

.current-message p {
  height: 25px;
  padding: 0px;
  margin: 3px 10px 0px 10px;
}

.message-clear-button {
  position: relative;
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  color: rgb(103, 114, 127);
  display: inline-block;
  margin: -3px 10px 0px 0px;
}

.message-clear-button:hover {
  color: #E0B0FF;
}

.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.3s forwards;
  -webkit-animation: slide-out 0.3s forwards;
}
  
@keyframes slide-in {
  100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateX(0%); }
}
  
@keyframes slide-out {
  0% { transform: translateY(0%); }
  100% { transform: translateY(200%); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateY(0%); }
  100% { -webkit-transform: translateY(200%); }
}

.dot-flashing {
  position: relative;
  border-radius: 50%;
  background-color: #DA70D6;
  color: #DA70D6;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #DA70D6;
  color: #DA70D6;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #DA70D6;
  color: #DA70D6;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

.dot-flashing-loading {
  width: 15px;
  height: 15px;
}

.dot-flashing-loading::before {
  left: -50px;
  width: 15px;
  height: 15px;
}

.dot-flashing-loading::after {
  left: 50px;
  width: 15px;
  height: 15px;
}

@keyframes dotFlashing {
  0% {
      background-color: #DA70D6;
  }
  50%,
  100% {
      background-color: #ebe6ff;
  }
}

@media screen and (max-width: 600px) {
  .header-buttons {
    gap: 10px;
    padding-left: 5px;
  }

  .header-username {
    padding-right: 5px;
  }
}

