body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home-page {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.data-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.model-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-bottom: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.graph-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.color-key {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px;
  gap: 10px;
  padding-bottom: 20px;
}

.key-object {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 0px;
  padding: 0px;
}

.key-object p {
  padding: 0px;
  margin: 0px;
}

.color-box {
  width: 10px;
  height: 10px;
  border: 2px solid black;
}

.sales-graph-group1 {
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
}

.product-line-predictions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 5px;
  padding-right: 5px;
}

.graph1 {
  height: 200px;
  width: 200px;
}

.graph3 {
  width: 90vw;
  height: 350px;
}

.graph4 {
  width: 90vw;
  height: 350px;
}

.predict-up {
  color: green;
}

.predict-down {
  color: red;
}

.predict-same {
  color: darkgray;
}

.query-specifications {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.query-specification {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 10%;
  gap: 10px;
}

.query-specification-clear {
  cursor: pointer;
}

.specifications-group {
  width: 250px; 
}

.header-buttons {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-around;
}

.header-button {
  cursor: pointer;
  font-size: 1.2em;
}

.header-username {
  cursor: pointer;
  text-decoration: underline;
  color:aqua;
  padding-right: 15px;
  font-size: 1.1em;
}

.sales-query-inputs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 65px;
  gap: 10px;
}

.sales-select-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  align-items: space-around;
}

.sales-date-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  height: 100%;
}

.sales-date-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.graph-carousel {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graph-carousel-inner {
  white-space: nowrap;
  width: 90vw;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.graph-display-page-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 4vw;
  padding-bottom: 20px;
}

.graph-display-page-button {
  position: relative;
  cursor: pointer;
}

.graph-display-page-button-background {
  position: absolute;
  background-color: rgb(235, 229, 229);
  height: 10px;
  width: 10px;
  left: 2px;
  top: 7px;
  border-radius: 100%;
}

.selected-button {
  box-shadow:0 0 10px gold,0 0 30px gold;
}

.logs-page-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  max-width: 250px;
  margin: auto;
}

.data-page-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  max-width: 250px;
  margin: auto;
}

.logs-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-arrow {
  cursor: pointer;
}

.page-input {
  width: 70px;
}

.query-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 25px;
}

.add-specification-button {
  cursor: pointer;
}

.query-table-container {
  max-width: 90vw;
  overflow-x: scroll;
}

.query-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 25px;
}

.query-table-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.query-edit-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.query-input-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 10px;
}

.query-input-specification {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

.query-input-specification-inputs {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.model-page-action {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.loading-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dot-flashing {
  position: relative;
  border-radius: 50%;
  background-color: #DA70D6;
  color: #DA70D6;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot-flashing::before, .dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #DA70D6;
  color: #DA70D6;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #DA70D6;
  color: #DA70D6;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

.dot-flashing-loading {
  width: 15px;
  height: 15px;
}

.dot-flashing-loading::before {
  left: -50px;
  width: 15px;
  height: 15px;
}

.dot-flashing-loading::after {
  left: 50px;
  width: 15px;
  height: 15px;
}

@keyframes dotFlashing {
  0% {
      background-color: #DA70D6;
  }
  50%,
  100% {
      background-color: #ebe6ff;
  }
}