body {
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-family: 'Times New Roman', Times, serif;
}

form {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

input{
    margin: 10px;
}

.data_input {
    vertical-align:top;
}

.dataframe {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#container {
    text-align: center;
}